{javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
<script src='{$asset_url}'></script>
{/javascripts}

<script>
    $(document).ready(function() {
        $(".freeshipping-activation-DpdPickup").bootstrapSwitch();
        $(".freeshipping-activation-DpdPickup").on("switch-change", function(e, data){
            var is_checked = data.value;
            var form = $("#freeshippingform");
            $('body').append('<div class="modal-backdrop fade in" id="loading-event"><div class="loading"></div></div>');

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize()
            }).done(function(){
                $("#loading-event").remove();
            })
                    .success(function() {
                        if (is_checked) {
                            $('#config-btn-0').removeClass('disabled');
                            $('#table-prices-icirelais').hide('slow');
                        } else {
                            $('#config-btn-0').addClass('disabled');
                            $('#table-prices-icirelais').show('slow');
                        }
                    })
                    .fail(function(jqXHR, textStatus, errorThrown){
                        $("#loading-event").remove();
                        $('#freeshipping-failed-body').html(jqXHR.responseJSON.error);
                        $("#freeshipping-failed").modal("show");
                    });

        });

        $("#check-all-but").click( function() {
            $(".export-checkbox").prop('checked', true);
        });
        $("#uncheck-all-but").click( function() {
            $(".export-checkbox").prop('checked', false);
        });
        $("#reverse-all-but").click( function() {
            $(".export-checkbox").each(function() {
                $(this).prop('checked', ($(this).prop('checked')) ? false : true);
            });
        });
        $("button[name=save_mode]").click(function() {
            var value = $("input[name='exportexaprintselection[new_status_id]']:checked").val();
            if(value == "sent") {
                checkboxes.forEach(function(entry) {
                    var box=$("#"+entry);
                    if(box.is(":checked")) {
                        var row= box.parents("tr"); // get first tr parent
                        row.hide('slow', function() {
                            row.remove();
                        });
                    }
                });
            }
        });

        {if ! empty($current_tab)}
            $('.nav-tabs a[href="#{$current_tab}"]').trigger("click");
        {/if}


        var $selectReturnType = $(".js_select_return_type");
        $selectReturnType.change(function(e){
            $('.js_input_return_field').attr("disabled", ($(this).val() == 0));
        });

        $selectReturnType.trigger('change');

        $('#js_btn_fill_return_field').click(function (e) {
            e.preventDefault();
            $("#return_name").val($("#exp_name").val());
            $("#return_addr").val($("#exp_addr").val());
            $("#return_addr2").val($("#exp_addr2").val());
            $("#return_zipcode").val($("#exp_zipcode").val());
            $("#return_city").val($("#exp_city").val());
            $("#return_tel").val($("#exp_tel").val());
        });

    });
</script>